<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit </title>
</head>
<body>
    <div class="w-full max-w-sm bg-white border border-blue-200 rounded-lg shadow dark:bg-blue-800 dark:border-blue-700">
        <form th:action="@{/table}" th:object="${tables}" method="Post">
            <div class="px-4 pt-4">
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Manage Tables</h5>
            </div>
            <div class="px-4 pt-4">
                <div class="pb-2">Number of Tables :</div>
                <input th:field="*{number}" type="text" class="border border-blue-300 text-blue-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-blue-700 dark:border-blue-600 dark:placeholder-blue-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Number">
            </div>
            <div class="px-4 pt-2">
                <div class="pb-2">Availability :</div>
                <ul class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-blue-300 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <li class="w-full border-b border-blue-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                        <div class="flex items-center pl-3">
                            <input th:field="*{availability}" value="#32d86a" id="hs-horizontal-list-group-item-radio-3" name="hs-horizontal-list-group-item-radio" type="radio" class="w-6 h-6 border-blue-200 rounded-full dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800">
                            <label for="horizontal-list-radio-license" class="w-full py-2.5 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Available</label>
                        </div>
                    </li>
                    
                    <li class="w-full dark:border-gray-600">
                        <div class="flex items-center pl-3">
                            <input th:field="*{availability}" value="#EC061D" id="hs-horizontal-list-group-item-radio-3" name="hs-horizontal-list-group-item-radio" type="radio" class="w-6 h-6 border-gray-200 rounded-full dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800">
                            <label for="horizontal-list-radio-passport" class="w-full py-2.5 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Busy</label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="flex flex-col items-center pb-10">
                <div class="flex mt-4 space-x-3 md:mt-6">
                    <button type="submit" class="inline-flex items-center justify-center w-24  py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Okay</button>
                    <a th:href="@{/admin}" class="inline-flex items-center justify-center w-24 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-blue-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>