<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🙎‍♂️ Edit Cashier</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-full h-fit">
    <div class="w-[90%] bg-[#e3e8ee] m-auto">
        <div class="border-[1px] border-[#6590fa] p-2">Update Cashier</div>
        <form th:action="@{/cashiers/{id}(id=${cashiers.id})}" th:object="${cashiers}" method="Post" enctype="multipart/form-data">
            <div class="border-[1px] border-[#6590fa] p-2 w-full flex">
            
                <div class="w-1/2">  
                    <div class="w-full flex">
                        <div class="w-[40%]">
                            <div>First Name&#160; : &#160; </div>
                            <div class="my-2">Last Name : &#160;</div>
                            <div>Sex :</div>
                            <div class="my-2">Date of Birth :</div>
                            <div class="">Login :</div>
                            <div class="my-2">Password :</div>
                        </div>
                        <div class="w-[60%]">
                            <input th:field="*{first_name}" class="w-full border-[1px] border-[#6590fa] pl-2" type="text">
                            <input th:field="*{last_name}" class="w-full border-[1px] border-[#6590fa] pl-2 my-2" type="text">                        
                            <div class="w-full gap-1">
                                <select th:field="*{sex}" class="w-full border-[1px] border-[#6590fa] " name="sex" id="sex">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>                                    
                                </select>
                            </div>                            
                            <input name="date" class="w-full border-[1px] border-[#6590fa] pl-2 my-2" type="date">
                            
                            <input th:field="*{login}" class="w-full border-[1px] border-[#6590fa] pl-2 "  type="text">
                            
                            <input th:field="*{password}" class="w-full border-[1px] border-[#6590fa] pl-2 my-2" type="password">
                        </div>
                    </div>
                    <div class="w-full flex gap-1">
                        <button class="w-[60%] bg-[#32d86a] text-white rounded-md py-2 " type="submit">Update</button>
                        <a th:href="@{/admin}" class="w-[40%] bg-[#595959] text-white text-center rounded-md py-2" >Cancel</a>
                    </div>   
                </div>
                <div class="w-1/2 pl-2">
                    <img class="w-[33%] m-auto" src="/bibimbap.png" alt="">
                    <div>
                        <input class="mt-2" name="file" type="file">
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</body>
</html>